<%= form_for @element, :html => { :multipart => true } do |f| %>



  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :protons %>
    <%= f.text_field :protons, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :electrons %>
    <%= f.text_field :electrons, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :described_date %>
    <%= f.text_field :described_date, :class => 'form-control'   %>
  </div>



  <h3>Add kid</h3>
  <%= render 'scientist' %>





  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>




<% end %>
