<%= form_for @element, :html => { :multipart => true } do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :family %>
    <%= f.text_field :family, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :electrons %>
    <%= f.text_field :electrons, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :year %>
    <%= f.text_field :year, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>

<% end %>


The following scientists discovered and / or described <%= @element.name %>
<ul>
<% @element.scientists.each do |scientist| %>
<% p = "/elements/#{@element.id}/remove/scientist/#{scientist.id}" %>


  <li><%= link_to scientist.name, scientist %> <%= button_to 'x', p, :method => 'delete', :data => { :confirm => 'Are you sure?'} %></li>
<% end %>
</ul>


The following countries have significant deposits of <%= @element.name %>
<ul>
<% @element.resources.each do |resource| %>
<% p = "/elements/#{@element.id}/remove/country/#{resource.country.id}" %>


  <li><%= link_to resource.country.name, resource.country %> <%= button_to 'x', p, :method => 'delete', form: {style: 'display:inline-block;'}, :data => { :confirm => 'Are you sure?'} %></li>
<% end %>
</ul>



<h3>Add Country</h3>
<%= form_tag do %>

  <fieldset>
  <%= label_tag :name %>
  <%= select_tag :country_id, options_for_select(Country.pluck(:name, :id)), :include_blank => true %>
  </fieldset>

  <fieldset>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity   %>
  </fieldset>

  <div class="form-group">
  <label></label>
  <%= submit_tag nil, :class => 'btn btn-info'  %>
  </div>

<% end %>





<h3>Add Scientist</h3>
<%= form_tag do %>

  <fieldset>
    <%= label_tag :name %>
    <%= select_tag :scientist_id, options_for_select(Scientist.pluck(:name, :id)), :include_blank => true %>
  </fieldset>

  <div class="form-group">
    <label></label>
    <%= submit_tag nil, :class => 'btn btn-info'  %>
  </div>

<% end %>
