<h1><%= @element.name %> : <%= @element.symbol %></h1>





<div  class="content" id="noko">
  <% if @wiki_para %>
    <%= @wiki_para.content %> <%= link_to "More at wikipedia", "http://en.wikipedia.com/wiki/"+@element.name %>
  <% end %>
</div>



<div class="content">
  Deposits of <%= @element.name %> can be found at;
  <ul>
  <% @element.resources.each do |resource| %>
    <li><%= link_to resource.country.name, resource.country %>: <%= number_to_human(resource.quantity, options = {}) %> tonnes</li>
  <% end %>
  </ul>
</div>

<div class="content">
  The following scientists discovered and / or described <%= @element.name %> on or around <%= @element.year %>
  <ul>
  <% @element.scientists.each do |scientist| %>
    <li><%= link_to scientist.name, scientist %></li>
  <% end %>
  </ul>
</div>



<div>
  <%= button_to "Edit Element", edit_element_path(@element), :method => 'get', :class => "btn btn-primary", form: {style: 'display:inline-block;'} %>
  <%= button_to 'Delete Element', @element, :method => 'delete', :class => "btn btn-danger", :data => { :confirm => 'Are you sure?'}, form: {style: 'display:inline-block;'} %>
</div>











<%= content_tag :div, id: "rotatingElement", data: {electrons: @element.electrons} do %>
<!-- This div is probably not really necesary, I could just as easily get the data from the <li> tag for electrons.
But I wanted to practice using the data tag in html to move the data around. -->
<% end %>

<br />

<%= content_tag :div, id: "regions_div", style: "width: 950px; height: 500px", data: {resources: @element.resources.as_json(include: :country)} do %>
<% end %>
