<%= form_for @scientist, :html => { :multipart => true } do |f| %>



  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :born %>
    <%= f.text_field :born, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :died %>
    <%= f.text_field :died, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, :class => 'form-control'   %>
  </div>



  The following elements were discovered and / or described <%= @scientist.name %>
  <ul>
  <% @scientist.elements.each do |element| %>
  <% p = "/elements/#{element.id}/remove/#{@scientist.id}" %>

    <li><%= link_to element.name, element %>, <%= link_to 'Remove Element', p, :method => 'delete', :data => { :confirm => 'Are you sure?'} %></li>
  <% end %>
  </ul>



  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>




<% end %>


<h3>Add Element</h3>
<%= form_tag do %>

<fieldset>
<%= label_tag :name %>
<%= select_tag :element_id, options_for_select(Element.pluck(:name, :id)), :include_blank => true %>
</fieldset>

<div class="form-group">
<label></label>
<%= submit_tag :class => 'btn btn-info'  %>
</div>


<% end %>
