<%= form_for @scientist, :html => { :multipart => true } do |f| %>




  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', :required => true   %>
  </div>


  <div class="form-group">
    <%= f.label :country_id %>
    <%= f.select :country_id, Country.pluck(:name, :id), :include_blank => true %>
  </div>


  <div class="form-group">
   <%= f.label :photo %><br>
   <%= f.file_field :photo %>
 </div>






  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>


<% end %>

The following elements were discovered and / or described by <%= @scientist.name %>
<ul>
<% @scientist.elements.each do |element| %>
<% p = "/scientists/#{@scientist.id}/remove/element/#{element.id}" %>

  <li><%= link_to element.name, element %>, <%= button_to 'Remove Element', p, :method => 'delete', :data => { :confirm => 'Are you sure?'} %></li>
<% end %>
</ul>



<h3>Add Element</h3>
<%= form_tag do %>

<fieldset>
<%= label_tag :name %>
<%= select_tag :element_id, options_for_select(Element.pluck(:name, :id)), :include_blank => true %>
</fieldset>

<div class="form-group">
<label></label>
<%= submit_tag nil, :class => 'btn btn-info'  %>
</div>


<% end %>
