<h1>Scientists#show</h1>
<p>Find me in app/views/scientists/show.html.erb</p>

<ul>
<li>Name: <%= @scientist.name %></li>
<li>Born: <%= @scientist.born %></li>
<li>Died: <%= @scientist.died %></li>

<% if  (@scientist.country )%>
  <li>Lived: <%= @scientist.country.name %></li>
<% end %>

<li>Photo: <%= @scientist.photo %></li>
</ul>


<% if @scientist.photo.nil? %>
<% else %>
<div class=" mt-1em ">
  <%= image_tag(@scientist.photo, :class => 'img-rounded photo') unless @scientist.photo.nil? %>
</div>
<% end %>






<%= @scientist.name %> discovered and / or described the following elements;
<ul>
<% @scientist.elements.each do |element| %>
  <li><%= link_to element.name, element %></li>
<% end %>
</ul>


<div>

  <%= button_to "Edit Scientist", edit_scientist_path(@scientist), :method => 'get' %>
  <%= button_to 'Delete Scientist', @scientist, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>

</div>
