
<div id="" class="overlay">

  <h1><%= @scientist.name %></h1>


  <div class="content">

    <% if  (@scientist.country )%>
      Lived and worked in <%= link_to @scientist.country.name, @scientist.country %>
    <% end %>
    <% if (@scientist.elements.length) %>
      <p>Discovered or described the following elements;</p>
      <ul>
      <% @scientist.elements.each do |element| %>
        <li><%= link_to element.name, element %></li>
      <% end %>
      </ul>
    <% end %>
  </div>


  <% if @scientist.photo.nil? %>
  <% else %>
    <div class=" mt-1em ">
      <%= image_tag(@scientist.photo, :class => 'img-rounded photo', :secure => true ) unless @scientist.photo.nil? %>
    </div>
  <% end %>




  <div>

    <%= button_to "Edit Scientist", edit_scientist_path(@scientist), :method => 'get', :class => "btn btn-primary", form: {style: 'display:inline-block;'} %>
    <%= button_to 'Delete Scientist', @scientist, :method => 'delete', :class => "btn btn-danger", :data => { :confirm => 'Are you sure?'}, form: {style: 'display:inline-block;'} %>

  </div>

</div>
