<!DOCTYPE html>
<html>
  <head>
    <title>Elemental</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="nav">
    <ul>
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'elements', elements_path %></li>
      <li><%= link_to 'scientists', scientists_path %></li>
      <li><%= link_to 'countries', countries_path %></li>
    </ul>

  </div>


    <%= yield %>
  </body>
</html>


  <!-- <%= link_to 'FM_Booker', root_path, :class => "navbar-brand" %> -->
